.document-manage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
}

.document-form {
    width: 500px;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* You can add more CSS rules to further style your form */
